
/* @import 'tailwindcss'; */
/* Custom font classes */
.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-seasons {
  font-family: serif;
}
