<!-- blog/templates/blog/author_articles.html -->
{% extends "blog/base.html" %}

{% block title %}Articles by {{ author }} - The Byline{% endblock %}

{%block nav%}

<!-- Navigation Section -->
<nav id="main-navbar" class="hidden md:block bg-white border-b border-gray-200 sticky top-0 z-40"
  style="box-shadow:6px 4px 20px 0px rgb(0 0 0 / 0.20)">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-around py-2">
      <!-- Search Bar -->
      <div class="flex items-center space-x-6">
        <div class="relative">
          <form method="GET" action="{% url 'home' %}" class="relative max-w-xs hidden md:flex">

            <input id="searchBox" type="text" name="q" placeholder="Search" value="{{ search_query }}"
              class="pl-10 pr-4 py-2 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-300" />
            <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 text-black w-4 h-4" fill="none"
              stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </form>

          <div id="liveResults" class="absolute bg-white shadow-md rounded z-50"></div>
        </div>
      </div>




      <!-- Navigation Links -->
      <div class="flex items-center space-x-8" style="margin-right: 24rem">
        <a href="{% url 'home' %}"
          class="{% if request.path == '/' %}text-red-600 font-semibold{% else %}text-black{% endif %} hover:text-red-600 transition-colors group relative">
          Home
          <span
            class="absolute left-0 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover:w-full"></span>
        </a>

        <div class="relative group">
          <button
            class="{% if request.path == '/category/business/' or request.path == '/category/corporates/' or request.path == '/category/smes/' or request.path == '/category/b-ipo/' or request.path == '/category/startups/' %}text-red-600 font-semibold{% else %}text-black {% endif %} hover:text-red-600 font-medium transition-colors relative">
            <a href="{% url 'category_articles' 'business' %}"
              class="hover:text-red-600 font-medium transition-colors relative">Business
              <span
                class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
            </a>
            
            <span
              class="absolute left-0 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover:w-full"></span>
          </button>
          <div
            class="absolute top-full left-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50">
            <div class="py-2">
              <a href="{% url 'category_articles' 'corporates' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Corporates
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'smes' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">SMEs
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'startups' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Startups
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>

            </div>
          </div>
        </div>

        <!-- <a href="{% url 'category_articles' 'business'  %}"
          class="{% if request.path == '/category/market/' or request.path == '/category/gold/' or request.path == '/category/business/' %}text-red-600 font-semibold{% else %}text-black {% endif %} hover:text-red-600 font-medium transition-colors group relative">Business
          <span
            class="absolute left-0 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover:w-full"></span>
        </a> -->

        <div class="relative group">
          <button
            class="{% if request.path == '/category/finance/' or request.path == '/category/stock market/' or request.path == '/category/mutual funds/' or  request.path == '/category/ipo/' or request.path == '/category/policy/' or request.path == '/category/budget/' or request.path == '/category/taxation/' or request.path == '/category/economy/' %}text-red-600 font-semibold{% else %}text-black{% endif %} hover:text-red-600 font-medium transition-colors relative">
            <a href="{% url 'category_articles' 'finance' %}"
              class="hover:text-red-600 font-medium transition-colors relative">Finance
              <span
                class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
            </a>

            <span
              class="absolute left-0 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover:w-full"></span>
          </button>
          <div
            class="absolute top-full left-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50">
            <div class="py-2">
              <a href="{% url 'category_articles' 'stock market' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Stock
                Market
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'mutual funds' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Mutual
                Funds
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'ipo' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">IPO
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'economy' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Economy
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'policy' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Policy
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'budget' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Budget
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'taxation' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Taxation
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>

            </div>
          </div>
        </div>

        <div class="relative group">
          <button
            class="{% if request.path == '/category/technology/' or request.path == '/category/ai/' or request.path == '/category/fintech/' or  request.path == '/category/gadgets/' or request.path == '/category/social media/' or request.path == '/category/cyber security/'%}text-red-600 font-semibold{% else %}text-black{% endif %} hover:text-red-600 font-medium transition-colors relative">
            <a href="{% url 'category_articles' 'technology' %}"
              class="hover:text-red-600 font-medium transition-colors relative">Tech
              <span
                class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
            </a>

            <span
              class="absolute left-0 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover:w-full"></span>
          </button>
          <div
            class="absolute top-full left-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50">
            <div class="py-2">
              <a href="{% url 'category_articles' 'ai' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">AI
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'fintech' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Fintech
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'gadgets' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Gadgets
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'social media' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Social
                media
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'cyber security' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Cyber
                security
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>


            </div>
          </div>
        </div>

        <!-- <a href="{% url 'category_articles' 'economy' %}"
          class="{% if request.path == '/category/economy/' %}:text-red-600 font-semibold{% else %}text-black{% endif %}hover:text-red-600 font-medium transition-colors group relative">Economy
          <span
            class="absolute left-0 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover:w-full"></span>
        </a> -->

        <div class="relative group">
          <button
            class="{% if request.path == '/category/sports/' or request.path == '/category/cricket/' or request.path == '/category/football/' or  request.path == '/category/tennis/' %}text-red-600 font-semibold{% else %}text-black{% endif %} hover:text-red-600 font-medium transition-colors relative">
            <a href="{% url 'category_articles' 'sports' %}"
              class="hover:text-red-600 font-medium transition-colors relative">Sports
              <span
                class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
            </a>
            <span
              class="absolute left-0 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover:w-full"></span>
          </button>
          <div
            class="absolute top-full left-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50">
            <div class="py-2">
              <a href="{% url 'category_articles' 'cricket' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Cricket
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'football' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Football
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'tennis' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Tennis
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="relative group">
          <button
            class="{% if request.path == '/category/entertainment' %}text-red-600 font-semibold{% else %}text-black{% endif %} hover:text-red-600 font-medium transition-colors relative">
            <a href="{% url 'category_articles' 'entertainment' %}"
              class="hover:text-red-600 font-medium transition-colors relative"> Entertainment
              <span
                class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
            </a>
            <span
              class="absolute left-0 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover:w-full"></span>
          </button>
        </div>

        <div class="relative group">
          <button
            class="{% if request.path == '/category/banking/' or  request.path == '/category/defense/' or request.path == '/category/aviation' or request.path == '/category/hospitality' or request.path == '/category/real estate' or request.path == '/category/space/' %}text-red-600 font-semibold{% else %}text-black{% endif %} hover:text-red-600 font-medium transition-colors relative">Sectors
            <span
              class="absolute left-0 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover:w-full"></span>
          </button>
          <div
            class="absolute top-full left-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50">
            <div class="py-2">
              <a href="{% url 'category_articles' 'banking' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Banking
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'defense' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Defense
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'aviation' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Aviation
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'hospitality' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Hospitality
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'real estate' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Real
                Estate
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
              <a href="{% url 'category_articles' 'space' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-red-600 group/item relative">Space
                <span
                  class="absolute left-4 bottom-0 w-0 h-0.5 bg-red-600 transition-all duration-300 group-hover/item:w-12"></span>
              </a>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</nav>
{%endblock%}
{% block content %}
<div class="max-w-7xl mx-auto px-4 py-6">
    <h2 class="text-xl font-medium text-black mb-6 border-b-2 border-[#BA0000] pb-2">
      Articles written by : <span class="text-red-600">{{ author }}</span>
    </h2>

    {% if articles %}
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for article in articles %}
                <div class="bg-white shadow rounded-xl overflow-hidden hover:shadow-lg transition duration-300">
                    <a href="{% url 'article_detail' article.slug %}">
                        {% if article.image %}
                            <img src="{{ article.image.url }}" alt="{{ article.title }}"
                                 class="w-full h-48 object-cover">
                            {% if article.image_credit %}
                            <div class="image-credit text-xs text-gray-500 text-right px-2 py-1">{{ article.image_credit }}</div>
                            {% endif %}
                        {% endif %}
                        <div class="p-4">
                            <h3 class="text-lg font-semibold text-gray-900 font-bold hover:text-red-600 transition">
                                {{ article.title|safe }}
                            </h3>
                            <p class="text-sm text-gray-600 mt-2">
                                {{ article.summary|safe|truncatewords:20 }}
                            </p>
                            <!-- author info -->
                            <div class="flex flex-wrap items-center text-sm text-gray-500 mt-6 space-x-4 font-roboto ">
                                {% if article.authorImage %}
                                <img src="{{ article.authorImage.url }}" alt="{{ article.author }}"
                                    class="w-6 h-6 rounded-full object-cover">
                                {% endif %}
                                <span>•</span>
                                <span class="text-gray-800">{{ article.author|safe|capfirst }}</span>
                                <span>•</span>
                                <span>{{ article.created_at|date:"F j, Y" }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-gray-500 text-sm">No articles by {{ author }} yet.</p>
    {% endif %}
</div>
{% endblock %}
